:root {
    --fontc: #fdfff2;
    --accent: #ffb300;
    --hc: #9bdbee;
    --bgc: #1d1e25;
}
a {
    color: var(--hc);
    text-decoration: dotted;
}
a:hover {
    color: var(--accent);
}
body {
    font-family: sans-serif;
    color: var(--fontc);
    background-color: var(--bgc);
    max-width: 900px;
    margin: 0 auto;
}
#main {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 类别之间的间隙 */
}
.category {
    /* display: flex; */
}
.category-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 图片之间的间隙 */
}
.category-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.thumb {
    box-sizing: border-box; /* 包括内边距和边框在内 */
    overflow: hidden;
    flex-direction: row; /* 将图片横向排列 */
}

.thumb img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* 图片填充容器，可能会裁剪 */
    display: block;
}

@media (max-width: 1100px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
    .category-img {
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
    }
}