---
const images: { [key: string]: string[] } = {
  "My Cat": [
    "https://r2.asyncx.top/2024/08/27/202408272314273.webp",
    "https://r2.asyncx.top/2024/08/27/202408272311814.webp",
    "https://r2.asyncx.top/2024/06/16/202406161446563.webp",
    "https://r2.asyncx.top/2024/08/28/202408282319979.webp"
  ],
};

import { ViewTransitions } from 'astro:transitions';
import '../../src/styles/main.css'
const isHome = Astro.url.pathname === '/';

---
<!DOCTYPE html>
<html lang="zh-CN">
<meta charset="UTF-8">
<ViewTransitions />
<br>
<div>
  {!isHome && (
    <a href="/">back</a>
  )}
</div>

<div id="main">
  {Object.keys(images).map(category => (
    <div class="category">
      <h2 class="category-title">{category}</h2>
      <div class="category-img">
        {images[category].map(src => (
          <article class="thumb">
            <a class="image" href={src}>
              <img
                src={src} 
                alt={category}
              />
            </a>
          </article>
        ))}
      </div>
    </div>
  ))}
</div>
</html>