---
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/500.css";
import { fade, ViewTransitions } from 'astro:transitions'


import { SITE_NAME, DESCRIPTION } from '../../src/config'

interface Props {
	title: string;
}

// @ts-ignore - TODO figure otu type safety on this
const { frontmatter } = Astro.props

const isHome = Astro.url.pathname === '/'

const pageTitle = [
	frontmatter.title ? frontmatter.title : undefined,
	isHome ? SITE_NAME : undefined,
].filter(Boolean).join(' | ')

---

<!doctype html>
<html 
	lang="en"
	transition:animate={fade({ duration: '0.3s' })}
>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ DESCRIPTION } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>

		<ViewTransitions />
	</head>
	<body class={`text-gray-500 dark:text-gray-100 ${ isHome ? 'is-home' : '' }`}>
		<div class="main">
			<div>
				{ !isHome && (
					<a href="/">⬅️back</a>
				)}
			</div>
			<main 
				class="max-w-xl"
			>
				<slot />
			</main>

			<footer>
			</footer>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--fontc: #fdfff2;
		--accent: #ffb300;
		--hc: #9bdbee;
		--bgc: #1d1e25;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "JetBrains Mono", system-ui, sans-serif;
		font-size: 14px;
		line-height: 1.2rem;
		background: var(--bgc);
		background-size: 224px;
	}
	body {
		margin-top: 3rem;
		display: flex;
		justify-content: center;
	}
	p,h1,h2 {
		color: var(--fontc);
	}
	a {
		color: var(--hc);
		text-decoration: dotted;
	}
	a:hover {
		color: var(--accent);
	}
	img {
  		width: 350px;
 		height: 350px;
  		object-fit: cover; /* Ensures the image covers the entire square */
  		border-radius: 3px; /* Optional: Adds rounded corners */
	}
	ol {
		color: #fff;
	}

	/* We want to bump up the font size on touch screens so that tap targets are easier to hit */
	@media (hover: none) {
		html {
			font-size: 18px;
		}

		/* Pad links that are the only child of a paragraph */
		p > a:only-child {
			padding: 0.5rem 0;
			display: inline-block;
		}
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1 {
		font-size: 1.1rem;
		font-style: italic;
		font-weight: 500;
		margin-bottom: 0.3rem;
	}


	body:not(.is-home) a {
		text-decoration: underline;
	}
</style>
